/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/deployment-packages
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.zip
/.fleet
/.idea
/.vscode
/.zed
laravel-json-api-pro-initial-import-last-two-years-90484c2.zip
